<div id="copyright", align="center">	
<p>
	<%= link_to 'Home', root_url %>&nbsp;&nbsp;::&nbsp;&nbsp;
	<%= link_to 'About Us', about_path %>&nbsp;&nbsp;::&nbsp;&nbsp;
	<%= link_to 'Contact Us', contact_path %>&nbsp;&nbsp;::&nbsp;&nbsp;
	<%= link_to 'Privacy Policy', privacy_path %>
</p>

	<%= link_to image_tag("Follow-us-Twitter-icon.jpg", :alt => "rss feed"), "https://twitter.com/#!/mycreamery" %>
	<%= link_to image_tag("facebook.png", :alt => "rss feed"), "http://www.facebook.com/mycreamery" %>
	<br />
</div>
