<div class="nav-collapse">
	<ul class="nav pull-right">
		<% if current_user %>
  			<% if ! current_page?(root_url) %>
				<li><%= link_to "Dashboard", root_url %></li>
  			<% end %>
  			<li><%= link_to current_user.username, user_path(current_user) %></li>
			<li><%= link_to "Logout", log_out_path %></li>
		<% else %>
			<li><%= link_to "Sign Up", sign_up_path %></li>
			<li><%= link_to "Login", log_in_path %></li>
		<% end %>
	  </ul>
</div>

<br></br>