<div class ="span12">
    <%- model_class = @user.class -%>
    <h2>User Information<% if current_user.id == @user.id %>
        <%= link_to raw("<i class='icon-pencil'></i> Edit"), edit_user_path(@user), :class => 'btn btn-mini' %>
      <% end %></h2>

    <dl class="dl-horizontal">
      <dt><strong><%= model_class.human_attribute_name(:username) %>:</strong></dt>
      <dd><%= @user.username %></dd>
      <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
      <dd><%= @user.email %></dd>
      <% if @user.is_admin %>
        <dt><strong>Status:</strong></dt>
        <dd>
          <strong>Admin</strong>
        </dd>
      <% end %>
      <dt><strong><%= model_class.human_attribute_name(:total_points) %>:</strong></dt>
      <dd><%= @user.total_points %></dd>
      </br>
    </dl>
</div>


          