<%- model_class = @user.class -%>
<h1><%=t '.title', :default => model_class.model_name.human %></h1>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:username) %>:</strong></dt>
  <dd><%= @user.username %></dd>
  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  <dd><%= @user.email %></dd>
  <dt><strong><%= model_class.human_attribute_name(:total_points) %>:</strong></dt>
  <dd><%= @user.total_points %></dd>
  <dt><strong><%= model_class.human_attribute_name(:is_admin) %>:</strong></dt>
  <dd><%= @user.is_admin %></dd>
  <dt><strong><%= model_class.human_attribute_name(:is_active) %>:</strong></dt>
  <dd><%= @user.is_active %></dd>
</dl>

<div class="form-actions">
  <%= link_to "Back", root_url, :class => 'btn'  %>
</div>
