<div class="container-box">
  <%- model_class = @user.class -%>
  <h2>User Account Information</h2>

  <dl class="dl-horizontal">
    <dt><strong><%= model_class.human_attribute_name(:username) %>:</strong></dt>
    <dd><%= @user.username %></dd>
    <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
    <dd><%= @user.email %></dd>
    <dt><strong>Status:</strong></dt>
    <dd>
      <% if @user.is_admin %>
        <strong>You have admin status.</strong>
      <% end %>
    </dd>
    <dt><strong><%= model_class.human_attribute_name(:total_points) %>:</strong></dt>
    <dd><%= @user.total_points %></dd>
    </br>
    <div class="form-actions">
      <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_user_path(@user), :class => 'btn btn-primary' %>
    </div>
  </dl>
</div>


          