<h2>Current Games</h2>
<%= link_to raw("<i class='icon-plus'></i> New Game"), new_game_path, :type => 'button', :class => 'btn btn-mini btn-success' %>
<% if ! @current_user_games.empty? %>
  <% @current_user_games.each do |ugame| %>
    <div class = "home_game_content">
      <div class = "home_game_header">
        <%= link_to ugame.game.name, game_path(ugame.game) %>
        <div class = "pull-right">
          <%= ugame.game.start_date.in_time_zone("Eastern Time (US & Canada)").strftime("%m/%d/%y") %> - <%= ugame.game.end_date.in_time_zone("Eastern Time (US & Canada)").strftime("%m/%d/%y") %>
        </div>
      </div>
        <ul class = "home_game_competitor" >
          <li>1st Place: </li>
          <li>2nd Place: </li>
          <li>3rd Place: </li>
        </ul> 
      <div class = "home_game_rank pull-right">
        Rank:
        <%= ugame.get_rank %>/<%= ugame.game.users.count %>
        <br>
        <h4>Balance: </h4>
        <%= number_to_currency(ugame.balance.to_f/100) %>
        <br>
        <h4>Stock Value: </h4>
        <%= number_to_currency(ugame.total_value_in_stocks.to_f/100) %>
      </div>
    </div>
  <% end %>



<% else %>
You currently aren't in a game.
<% end %>
