<h2>My Stocks</h2>
<% if !@owned_stock.empty? %>
	<table class="table table-striped">
          <thead>
            <tr>
              <th>Game</th>
              <th>Stock Code</th>
              <th>Total Quantity</th>
              <th><p align="right">Cost Basis</p></th>
              <th><p align="right">Value In Stocks</p></th>
              <th><p align="right">Money Earned</p></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
          <% @owned_stock.each do |stock| %>
            <tr>
              <td><%= link_to stock.user_game.game.name, game_path(stock.user_game.game) %>
              <td><%= stock.stock_code %></td>
              <td><%= stock.total_qty %></td>
              <td><p align="right"><%= number_to_currency(stock.money_spent.to_f/100)%></p></td>
              <td><p align="right"><%= number_to_currency(stock.value_in_stocks.to_f/100)%></p></td>
              <td><p align="right"><%= number_to_currency(stock.money_earned.to_f/100)%></p></td>
              <td><%= link_to "View", purchased_stock_path(stock), :class => 'btn btn-mini' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
<% else %>
  <h3>You do not own stock.</h3>
<% end %>