<h2>About BattleStocks</h2>
<br>

<div class="container-box">
  <h3>BattleStocks is a virtual stock market simulator game that:</h3>
  <ul>
    <li>
      <h4>Provides you a risk-free but accurate environment to explore the stock market</h4>
      BattleStocks uses real-time NYSE and NASDAQ data. Users can buy and sell stocks and track their capital gains as if they created a portfolio in real life.
      The difference is that BattleStocks is completely free making it the ideal platform for beginners to increase their confidence in their knowledge of the stock market and for current investors to test out new portfolio strategies without losing any money.
    </li><br>
    <li>
      <h4>Allows you to compete against your friends and create even stronger portfolios in a competitive environment</h4>
      Create a game, choose an initial balance, invite players, and compete against them to gain the highest capital gain.
      Competition brings out the best in us as we push ourselves to learn more about the stock market in order to win. You can expect even more creativity through competition.
    </li><br>
    <li>
      <h4>Research Stocks</h4>
      Search for a stock and find accurate statistics, an interactive chart, social buzz, and company information.
    </li></br>
    <li>
      <h4>Tracks your progress</h4>
      During a competition, watch your capital gains update in real-time.
      After a competition, view results, see your previous portfolios, and witness how you have improved over time.
    </li>
  </ul>
</div>
<br>

<h2>How BattleStocks Works</h2>
<div class="container-box">
  <h3>7 Simple Steps:</h3>
<ul>
  <li>
      <h4>Step 1: Create an account</h4>
      You must register in order to take advantage of BattleStocks. Registration is easy and will only take a minute. 
      <%= link_to 'Register', sign_up_path, :class => 'btn btn'%></br></br>
      <center><div style="border: 1px solid #666; background-color:#B8B9D1;"><%= image_tag("Sign_up.png", :alt => "Step 1") %></div></center><br>
  </li>
</ul>
<ul>
  <li>
      <h4>Step 2: Create Game</h4>
       It's as simple as completing the create game form.
       <center><div style="border: 1px solid #666; background-color:#fff;"><%= image_tag("NewGameButton.png", :alt => "Step 2") %></div></center><br>
  </li>
</ul>
<ul>
  <li>
      <h4>Step 3: Choose game settings</h4>
        Decide when you want the game to start and end. Choose the <i>Initial Budget</i> (the amount of money that each participant will have to spend on stocks at the start of the game).
        <center><div style="border: 1px solid #666; background-color:#fff;"><%= image_tag("NewGameForm.png", :alt => "Step 3") %></div></center><br>
  </li>
</ul>
  <ul>
    <li>
        <h4>Step 4: Invite Players</h4>
        Invite players by entering their username. Each player will automatically be added to the game.</br></br>
        You can invite players before or during a game.
        <center><div style="border: 1px solid #666; background-color:#fff;"><%= image_tag("AddPlayers.png", :alt => "Step 4") %></div></center><br>
    </li>
  </ul>
  <ul>
    <li>
        <h4>Step 5: Create your portfolio by buying and selling stock</h4>
        From your dashboard, select the game that you would like to buy or sell stock for.</br></br> 
        <center><i>or</i></center><br>
        From the "My Games" page, select a current game that you would like to buy or sell stock for.</br></br>
        To <strong>buy</strong> new stock, click the buy tab and complete the buying form<br><br>
        <center><div style="border: 1px solid #666; background-color:#fff;"><%= image_tag("BuyStocks.png", :alt => "Step 5a") %></div></center><br>
        To <strong>sell</strong> stock that you currently own, click the sell tab and complete the selling form to sell any stock that you own.<br><br>
        <center><div style="border: 1px solid #666; background-color:#fff;"><%= image_tag("SellStocks.png", :alt => "Step 5b") %></div></center><br>
    </li>
  </ul>
  <ul>
    <li>
        <h4>Step 6: Track Progress</h4>
        From your dashboard, select the game that you wish to track. In the game page, you can see your statistics for that game, current rank compared to other players, and information about the stocks that you have purchased.
        <center><div style="border: 1px solid #666; background-color:#fff;"><%= image_tag("GamePage.png", :alt => "Step 6a") %></div></center><br></br>
        You can also research stocks from the dashboard by searching the stock code.
        <center><div style="border: 1px solid #666; background-color:#fff;"><%= image_tag("ResearchStocks.png", :alt => "Step 6b") %></div></center><br>
        The stock page allows you to see relevant information about the stock and company.
        <center><div style="border: 1px solid #666; background-color:#fff;"><%= image_tag("Stock.png", :alt => "Step 1") %></div></center><br>
        To see which stocks you own for all your games, you can view the "My Stocks" page.
        <center><div style="border: 1px solid #666; background-color:#fff;"><%= image_tag("MyStocksPage.png", :alt => "Step 6c") %></div></center><br>
    </li>
  </ul>
  <ul>
    <li>
        <h4>Step 7: See Game Results After Game Has Ended</h4>
        From the "My Games" page, navigate to Past Games section. Click on the name of the game for which you want to see results. In the game page, you can see your statistics for that game and final rank compared to other players.
        <center><div style="border: 1px solid #666; background-color:#fff;"><%= image_tag("MyGamesPage.png", :alt => "Step 7") %></div></center><br>
    </li>
  </ul>
</div>
