<% if !current_user %>
  <div class="container">
    <div class="row">
  		<div class="span7">
			  <div id="myCarousel" class="carousel slide">
          <!-- Carousel items -->
          <div class="carousel-inner">
              <div class="active item">
                <%= image_tag "slider_image2.png"%>
              </div>
              <div class="item">
                <%= image_tag "header1.png"%>
              </div>
              <div class="item">
                <%= image_tag "slider_image3.png"%>
              </div>
          </div>
            <!-- Carousel nav -->
            <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
            <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
        </div>
      </div>
	    <div class="span5">
        <h2>Your virtual stock market competition using real-time data.</h2>
        <p>BattleStocks is the fun way to learn the ins and outs of the stock market and gain real market experience in developing strong portfolios.</p>
        <p>
          <center><%= link_to 'Start playing today!', sign_up_path, :class => 'btn btn-success btn-large'%></center>
        </p>
      </div>
    </div>
    <div class="row">
      <br>
      <div class="span3">
        <blockquote>
          <p>This is cool! This is good!</p>
          - Randy Weinberg, <cite title="Source Title">Professor</cite>
        </blockquote>
      </div>
      <div class="span3">
        <blockquote>
          <p>Woah, this is what I played in middle school, but better!.</p>
          - Jon Yu, <cite title="Source Title">Student of Finance</cite>
        </blockquote>
      </div>
      <div class="span3">
        <blockquote>
          <p>This most exciting app of 2013.</p>
          - Ryan, <cite title="Source Title">Student of Information Systems</cite>
        </blockquote>
      </div>
      <div class="span3">
        <blockquote>
          <p>Easy to use! Very Fun.</p>
          - Senna Parsa, <cite title="Source Title">Student of Information Systems</cite>
        </blockquote>
      </div>
    </div>
  </div>
<% else %>
          <%= render :partial => 'player_dashboard' %>
<% end %>
