<div class="row">
	<div class ="span4">
		<div class = "container-box">
			<% if logged_in? %>
				<% if @query != "" %>
					<% if @stock_value != 0 %>
						<h2><%= @query.upcase %></h2>
						<h4><%= @stock_info.parsed_document.at_xpath("//div[@id='sectionTitle']").text %></h4>
						<dl class="dl-horizontal">
							<dt><strong>Current Value:</strong></dt>
					    	<dd><%= number_to_currency(@stock_value.to_f/100) %></dd>
					    	<dt><strong>Price Change:</strong></dt>
					    	<dd><%= @stock_info.parsed_document.at_xpath("//span[contains(@class, 'valueContent')]").text %></dd>
					    	<dt><strong>Prev Close:</strong></dt>
					    	<dd><%= @stock_info.parsed_document.at_xpath("//span[starts-with(.,'Prev Close')]/following-sibling::*[2]").text %></dd>
					    	<dt><strong>Open:</strong></dt>
					    	<dd><%= @stock_info.parsed_document.at_xpath("//span[starts-with(.,'Open')]/following-sibling::*[2]").text %></dd>
					    	<dt><strong>Day's High:</strong></dt>
					    	<dd><%= @stock_info.parsed_document.at_xpath("//span[contains(@class, 'sectionQuoteDetailHigh')]").text %></dd>
					    	<dt><strong>Day's Low:</strong></dt>
					    	<dd><%= @stock_info.parsed_document.at_xpath("//span[contains(@class, 'sectionQuoteDetailLow')]").text %></dd>
					    	<dt><strong>Volume:</strong></dt>
					    	<dd><%= @stock_info.parsed_document.at_xpath("//span[starts-with(.,'Volume')]/following-sibling::*[2]").text %></dd>
					    	<dt><strong>Avg. Volume:</strong></dt>
					    	<dd><%= @stock_info.parsed_document.at_xpath("//span[starts-with(.,'Avg')]/following-sibling::*[2]").text %></dd>
					    	<dt><strong>52-Week High:</strong></dt>
					    	<dd><%= @stock_info.parsed_document.at_xpath("//span[starts-with(.,'52-wk High')]/following-sibling::*[2]").text %></dd>
					    	<dt><strong>52-Week Low:</strong></dt>
					    	<dd><%= @stock_info.parsed_document.at_xpath("//span[starts-with(.,'52-wk Low')]/following-sibling::*[2]").text %></dd>
					    	<dt><strong>About:</strong></dt>
					    	<dd><%= (@stock_description.parsed_document.at_xpath("//div[@id='companyNews']//div[@class='moduleBody']")).text.split('» Full Overview of').first %></dd>
					    	<!-- <dd><%= @stock_description.parsed_document %></dd> -->
					  	</dl>
					<% else %>
						<h3><%= @query.upcase %> stock code is invalid.</h3>
					<% end %>
				<% else %>
					<h3>Please enter a stock code to search.</h3>
				<% end %>
			<% end %>
		</div>
	</div>
	<% if logged_in? %>
				<% if @query != "" %>
					<% if @stock_value != 0 %>
						<div class ="span12">
						<div class = "container-box">
						<center><%= image_tag("http://chart.finance.yahoo.com/z?s=#{@query.upcase}&t=6m&q=l&l=on&z=s&p=m50,m200")%></center>
						<center><%= image_tag("http://chart.finance.yahoo.com/z?s=#{@query.upcase}&t=my&q=l&l=on&z=l&a=v&p=s&lang=en-US&region=US")%></center>
					<% end %>
				<% end %>
			<% end %>
		</div>
	</div>
</div>