<div class="row">
	<div class ="span4">
		<div class = "container-box">
			<% if logged_in? %>
				<% if @query != "" %>
					<% if @stock_value != 0 %>
						<h2><%= @query.upcase %></h2>
						<dl class="dl-horizontal">
							<dt><strong>Stock Name:</strong></dt>
							<dd><%= @query.upcase %></dd>
							<dt><strong>Current Value:</strong></dt>
					    	<dd><%= number_to_currency(@stock_value.to_f/100) %></dd>	
					  	</dl>
					<% else %>
						<h3><%= @query.upcase %> stock code is invalid.</h3>
					<% end %>
				<% else %>
					<h3>Please enter a stock code to search.</h3>
				<% end %>
			<% end %>
		</div>
	</div>
	<% if logged_in? %>
				<% if @query != "" %>
					<% if @stock_value != 0 %>
						<div class ="span6">
						<div class = "container-box">
						<center><%= image_tag("http://chart.finance.yahoo.com/z?s=#{@query.upcase}&t=6m&q=l&l=on&z=s&p=m50,m200")%></center>
					<% end %>
				<% end %>
			<% end %>
		</div>
	</div>
</div>