<strong>Buying</strong></br></br>
<%= simple_form_for @transaction do |f| %>
	<div class="controls">
		<%= f.input :stock_code, :label => "Stock Code" %>
		<%= f.input :qty, as: :string, :label => "Quantity", required: false %>
		<%= f.hidden_field :is_buy, :value => true %>
		<%= f.hidden_field :game_id, :value => @game.id %>
	</div>
	<p align="right"><%= f.submit "Buy", :class => 'btn btn-info' %></p>
<% end %>