<h2>Current Games </h2>
<%= link_to raw("<i class='icon-plus'></i> New Game"), new_game_path, :type => 'button', :class => 'btn btn-mini btn-success' %>
<% if ! @current_user_games.empty? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><p>Name</p></th>
        <th><p>Rank</p></th>
        <th><p>Start Date</p></th>
        <th><p>End Date</p></th>
        <th><p align="right">Budget</p></th>
        <th><p align="right">Balance</p></th>
        <th><p align="right">Stock Value</p></th>
      </tr>
    </thead>
    <tbody>
      <% @current_user_games.each do |ugame| %>
          <tr>
            <td><%= link_to ugame.game.name, game_path(ugame.game) %></td>
            <td>
              <%= ugame.get_rank %>/<%= ugame.game.users.count %>
            </td>
            <td><%= ugame.game.start_date.in_time_zone("Eastern Time (US & Canada)").strftime("%m/%d/%y") %></td>
            <td><%= ugame.game.end_date.in_time_zone("Eastern Time (US & Canada)").strftime("%m/%d/%y") %></td>
            <td><p align="right"><%= number_to_currency(ugame.game.budget.to_f/100) %></p></td>
            <td><p align="right"><%= number_to_currency(ugame.balance.to_f/100) %></p></td>
            <td><p align="right"><%= number_to_currency(ugame.total_value_in_stocks.to_f/100) %></p></td>
          </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <h3>There are no current games.</h3>
<% end %>

<%= will_paginate @current_user_games, :param_name => 'current_games_page', :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>

