<h2>Past Games</h2>
<% if ! @past_user_games.empty? %>
  <table class="table table-condensed">
    <thead>
      <tr>
        <th><p>Name</p></th>
        <th><p>Rank</p></th>
        <th><p>Winner</p></th>
        <th><p>Start Date</p></th>
        <th><p>End Date</p></th>
        <th><p align="right">ROI</p></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @past_user_games.each do |ugame| %>
        <tr>
          <td><%= link_to ugame.game.name, game_path(ugame.game) %></td>
          <td>
            <%= ugame.get_rank %>/<%= ugame.game.users.count %>
          </td>
          <td>
            <% if ugame.game.winner_id.nil? %>
              N/A
            <% else %>
              <% if current_user.id == ugame.game.winner_id %>
                <strong>You</strong>
              <% else %>
                <%= User.find_by_id(ugame.game.winner_id).username %>
              <% end %>
            <% end %>
          </td>
          <td><%= ugame.game.start_date.in_time_zone("Eastern Time (US & Canada)").strftime("%m/%d/%y") %></td>
          <td><%= ugame.game.end_date.in_time_zone("Eastern Time (US & Canada)").strftime("%m/%d/%y") %></td>
          <td><p align="right"><%= number_with_precision(((ugame.balance.to_f/100 - ugame.game.budget.to_f/100) / (ugame.game.budget.to_f/100)).round(2), :precision => 2) %></p>
            </td>
          <td>
            <% if ugame.game.is_terminated %>
              Terminated
            <% end %>
          </td>
        </tr>
      <% end %>
  </tbody>
  </table>
<% else %>
  <h4>There are no past games.</h4>
<% end %>

<%= will_paginate @past_user_games, :param_name => 'past_games_page', :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
