<% if @game.users.all.count == 1 %>
  <h4> There are no other players. </h4>
<% else %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><p>Rank</p></th>
        <th><p>Username</p></th>
        <th><p>Email</p></th>
        <th><p align="right">Portfolio Value</p></th>
        <th><p align="right">ROI</p></th>
      </tr>
    </thead>
    <tbody>
      <% UserGame.for_game(@game.id).each do |ugame| %>
          <tr>
            <td><%= ugame.get_rank %>/<%= ugame.game.users.count %></td>
            <td><%= link_to ugame.user.username, user_path(ugame.user) %></td>
            <td><%= ugame.user.email %></td>
            <td><p align="right"><%= number_to_currency((ugame.balance.to_f + ugame.total_value_in_stocks.to_f)/100) %></p></td>
            <td><p align="right"><%= number_with_precision((((ugame.balance.to_f + ugame.total_value_in_stocks.to_f)/100 - ugame.game.budget.to_f/100) / (ugame.game.budget.to_f/100)), :precision => 2) %></p></td>
          </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
