<% if @game.users.all.count == 1 %>
  <% if @game.end_date >= DateTime.now %>
    <h3>Players</h3>
    <h4> There are no other players. </h4>
  <% else %>
    <h4> There were no other players. </h4>
  <% end %>
<% else %>
  <table class="table table-condensed">
    <thead>
      <tr>
        <% if @game.start_date <= DateTime.now %>
          <th><p>Rank</p></th>
        <% end %>
        <th><p>Username</p></th>
        <% if @game.start_date <= DateTime.now %>
          <th><p align="right">Portfolio Value</p></th>
          <th><p align="right">ROI</p></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @current_players.each do |ugame| %>
          <tr>
            <% if @game.start_date <= DateTime.now %>
              <td><%= ugame.get_rank %>/<%= ugame.game.users.count %></td>
            <% end %>
            <td><%= link_to ugame.user.username, user_path(ugame.user) %></td>
            <% if @game.start_date <= DateTime.now %>
              <td><p align="right"><%= number_to_currency((ugame.balance.to_f + ugame.total_value_in_stocks.to_f)/100) %></p></td>
              <td><p align="right"><%= number_with_precision((((ugame.balance.to_f + ugame.total_value_in_stocks.to_f)/100 - ugame.game.budget.to_f/100) / (ugame.game.budget.to_f/100)), :precision => 2) %></p></td>
            <% end %>
          </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @current_players, :param_name => 'game_players_page', :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
<% end %>
