<h3>My Stock</h3>
<% if !@purchased_stocks.empty? %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Stock Code</th>
      <th>Total Quantity</th>
      <th>Total Value</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @purchased_stocks.each do |purchased_stock| %>
      <tr>
        <% if purchased_stock.total_qty > 0 %>
          <td><%= purchased_stock.stock_code %></td>
          <td><%= purchased_stock.total_qty %></td>
          <td><%= number_to_currency(purchased_stock.value_in_stocks.to_f/100) %></td>
          <td><%= link_to "View", purchased_stock_path(purchased_stock), :class => 'btn btn-mini' %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  <h4> You did not purchase any stock. </h4>
<% end %>