<h3>My Stocks</h3>
<% if !@purchased_stocks_array.empty? %>
  <table class="table table-condensed">
    <thead>
      <tr>
        <th><p>Stock Code</p></th>
        <th><p align="right">Total Quantity</p></th>
        <th><p align="right">&nbsp;&nbsp;&nbsp;x</p></th>
        <th><p align="right">Market Price</p></th>
        <th><p align="right">Total Value</p></th>
      </tr>
    </thead>
    <tbody>
      <% @purchased_stocks_array.each do |purchased_stock| %>
        <tr>
          <% if purchased_stock[1] > 0 %>
            <td><strong><%= link_to purchased_stock[0], src="/search?query=#{purchased_stock[0]}" %></strong></td>
            <td><p align="right"><%= purchased_stock[1] %></p></td>
            <td><p align="right">&nbsp;&nbsp;&nbsp;x</p></td>
            <td><p align="right"><%= number_to_currency((purchased_stock[3]/purchased_stock[1]).to_f/100)%></p></td>
            <td><strong><p align="right"><%= number_to_currency(purchased_stock[3].to_f/100) %></p></strong></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @purchased_stocks, :param_name => 'game_purchased_stocks_page', :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
<% else %>
  <h4> You have not yet purchased any stock. </h4>
<% end %>
