<h3>Sell Stock</h3>
<%= simple_form_for @transaction, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :stock_code, :label => "Stock Code" %>
  <%= f.input :qty, as: :string, :label => "Quantity" %>
  <%= f.hidden_field :is_buy, :value => false %>
  <%= f.hidden_field :game_id, :value => @game.id %>

  <%= f.submit "Submit", :class => 'btn btn-primary' %>
  
<% end %>