<script>
  $(document).ready(function() { $("#user_id").chosen({no_results_text: "No results matched"}); });
</script>

</br>
<%= simple_form_for @user_game do |f| %>
  <%= select_tag('user_id', options_for_select(@users_not_added.collect{ |u| [u.username, u.id] }), :multiple => true, :'data-placeholder' => 'Select Users to Add') %>
  <%= f.hidden_field :game_id, :value => @game.id %>
  <%= f.hidden_field :balance, :value => @game.budget %>
</br></br>
	<p align="right"><%= f.submit "Add User", :class => 'btn btn-info' %></p>
<% end %>