<% if ! @users_not_added.include?(current_user)%>
 <div class ="span12"> 
    <%- model_class = @game.class -%>
    <h1>Game: <%= @game.name %>
    <% if (current_user.id == @game.manager_id) && (@game.start_date > Time.now) && (@game.is_terminated == false) %>
      <%= link_to raw("<i class='icon-pencil'></i> Edit"), edit_game_path(@game), :class => 'btn btn-mini' %>
    <% end %></h1>
</div>
  <div class ="span12">
    <dl class="games">
      <dt class="games">
        <strong><%= 'Points Earned' %>:</strong></br>
          <%= @current_user_game.points %></br></br>
        <strong><%= 'Manager' %>:</strong></br>
        <% if current_user.id == @game.manager_id %>
          <%= link_to @manager.username, user_path(@manager) %> <strong> (You)</strong>
        <% else %>
          <%= link_to @manager.username, user_path(@manager) %>
        <% end %>
      </dt>
      <dt class="games"><strong>Start Date:</strong></br>
      <%= @game.start_date.in_time_zone("Eastern Time (US & Canada)").strftime("%m/%d/%y") %></br></br>
      <strong>End Date:</strong></br>
      <%= @game.end_date.in_time_zone("Eastern Time (US & Canada)").strftime("%m/%d/%y") %>
      <% if @game.is_terminated %>
        <strong>*Game has been terminated.</strong>
      <% end %></dt>
      <dt class="games">
        <strong>Initial Balance:</strong></br>
        <%= number_to_currency(@game.budget.to_f/100) %>
        <% if @game.start_date <= DateTime.now %>
          </br></br>
          <strong>Current Balance:</strong></br>
          <%= number_to_currency(@current_user_game.balance.to_f/100) %></br></br>
        <% end %>
      </dt>
      <% if @game.start_date <= DateTime.now %>
        <dt class="games">
          <strong><%= 'Total Value in Stocks' %>:</strong></br>
          <%= number_to_currency(@current_user_game.total_value_in_stocks.to_f/100) %>
        </dt>
      <% end %>
    </dl>
  </div>

<div class ="span7">
  <% if @game.start_date < DateTime.now %>
    <% if @game.is_terminated == false %>
        <% if @game.end_date > DateTime.now %>
          <div class="container-box"> 
            <%= render :partial => 'purchased_stock_index' %>
          </div>
        <% end %>
    <% end %>  
  <% end %>
</div>

<div class ="span5">
  <% if @game.start_date < DateTime.now %>
    <% if @game.is_terminated == false %>
        <% if @game.end_date > DateTime.now %>
          <div class="container-box"> 
            <h3>Buy or Sell Stocks</h3>
            <ul class="nav nav-tabs">
                  <li class="active"><a href="#buy" data-toggle="tab">Buy</a></li>
                  <li><a href="#sell" data-toggle="tab">Sell</a></li>
                </ul>   
                <div class="tab-content">
                  <div class="tab-pane active" id="buy"><%= render :partial => 'buy_form' %></div>
                  <div class="tab-pane" id="sell"><%= render :partial => 'sell_form' %></div>
                </div>
          </div>
        <% end %>
    <% end %>  
  <% end %>

</div>

<div class ="span7">
  <div class="container-box"> 
      <%= render :partial => 'players_list' %>      
  </div>
</div>

<% if @game.manager_id == current_user.id and @game.is_terminated == false and @game.end_date >= DateTime.now %>
  <div class ="span5">
    <div class="container-box"> 
        <h3>Add Players</h3>
        <%= render :partial => 'user_game_form' %>
    </div>
  </div>
<% end %>
<% end %>



