<div class = "container-box">
  <%- model_class = @game.class -%>
  <h1>Game: <%= @game.name %>
  <% if (current_user.id == @game.manager_id) && (@game.start_date > Time.now) && (@game.is_terminated == false) %>
    <%= link_to raw("<i class='icon-pencil'></i> Edit"), edit_game_path(@game), :class => 'btn' %>
  <% end %>
  </h1>

  <dl class="dl-horizontal">
    <dt><strong><%= model_class.human_attribute_name(:manager_id) %>:</strong></dt>
    <dd>
      <% if current_user.id == @game.manager_id %>
        <%= @manager.username %> <strong> (You)</strong>
      <% else %>
        <%= @manager.username %>
      <% end %>
    </dd>
    <dt><strong><%= model_class.human_attribute_name(:start_date) %>:</strong></dt>
    <dd><%= @game.start_date.in_time_zone("Eastern Time (US & Canada)").strftime("%m/%d/%y") %></dd>
    <dt><strong><%= model_class.human_attribute_name(:end_date) %>:</strong></dt>
    <dd><%= @game.end_date.in_time_zone("Eastern Time (US & Canada)").strftime("%m/%d/%y") %>
    <% if @game.is_terminated %>
      <strong>*Game has been terminated.</strong>
    <% end %></dd>
    <dt><strong><%= model_class.human_attribute_name(:budget) %>:</strong></dt>
    <dd><%= number_to_currency(@game.budget.to_f/100) %></dd>
  </dl>

  <dl class="dl-horizontal">
    <dt><strong><%= model_class.human_attribute_name(:balance) %>:</strong></dt>
    <dd><%= number_to_currency(@current_user_game.balance.to_f/100) %></dd>
    <dt><strong><%= model_class.human_attribute_name(:total_value_in_stocks) %>:</strong></dt>
    <dd><%= number_to_currency(@current_user_game.total_value_in_stocks.to_f/100) %></dd>
  </dl>
  <br>
</div>
<div class="well"> 
    <h3>Players</h3>
          <%= render :partial => 'players_list' %>
    <% if @game.start_date > DateTime.now %>
      <% if @game.manager_id == current_user.id %>
          <button class="btn btn-success" id="user_game_button">Invite Player</button>
          <button class="btn" id="hide_button">Hide</button>
      <% end %>
    <% end %>
</div>

<% if @game.start_date < DateTime.now %>
  <div class="well"> 
    <%= render :partial => 'purchased_stock_index' %>
    <% if @game.is_terminated == false %>
      <% if @game.end_date > DateTime.now %>
        <button class="btn btn-success" id="transaction_button">Create Transaction</button>
        <button class="btn" id="hide_button">Hide</button>
      <% else %>
        <h4>This game has ended.</h4>
      <% end %>
    <% end %>  
  </div>
<% end %>

  <br></br>

  <!-- Form for transaction and user_game -->
  <div class="transaction_partial">
    <%= render :partial => 'transaction_form' %>
  </div>
  <div class="user_game_partial">
    <%= render :partial => 'user_game_form' %>
  </div>
</div>


