<%- model_class = @user_game.class -%>
<h1><%=t '.title', :default => model_class.model_name.human %></h1>

<dl class="dl-horizontal">
  <dt><strong>User:</strong></dt>
  <dd><%= @user_game.user.username %></dd>
  <dt><strong>Game:</strong></dt>
  <dd><%= @user_game.game.name %></dd>
  <dt><strong>Balance:</strong></dt>
  <dd>$<%= @user_game.balance.to_f/100 %></dd>
  <dt><strong>Points:</strong></dt>
  <dd><%= @user_game.points %></dd>
  <dt><strong>Stock Value:</strong></dt>
  <dd>$<%= @user_game.total_value_in_stocks.to_f/10 %></dd>
  <dt><strong>Is Active:</strong></dt>
  <dd><%= @user_game.is_active %></dd>
</dl>

<div class="form-actions">
  <%= link_to "Back", game_path(@user_game.game), :class => 'btn'  %>
</div>
