<%= form_for @purchased_stock, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :user_game_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :user_game_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :stock_code, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :stock_code, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :total_qty, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :total_qty, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :money_spent, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :money_spent, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :money_earned, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :money_earned, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :value_in_stocks, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :value_in_stocks, :class => 'number_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                purchased_stocks_path, :class => 'btn' %>
  </div>
<% end %>
