<%- model_class = PurchasedStock.new.class -%>
<h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Username</th>
      <th>Game</th>
      <th>Stock Code</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @purchased_stocks.each do |purchased_stock| %>
      <tr>
        <td><%= link_to purchased_stock.user_game.user.username, user_path(purchased_stock.user_game.user) %></td>
        <td><%= link_to purchased_stock.user_game.game.name, game_path(purchased_stock.user_game.game) %></td>
        <td><%= purchased_stock.stock_code %></td>
        <td><%= link_to "View", purchased_stock_path(purchased_stock), :class => 'btn btn-mini' %></td>
      </tr>
    <% end %>
  </tbody>
</table>