<%- model_class = PurchasedStock.new.class -%>

<% if logged_in? %>
  <div class = "container-box">
    <h2>My Stocks</h2>
    <% if !@owned_stock.empty? %>
      <table class="table table-condensed">
              <thead>
                <tr>
                  <th><p>Game</p></th>
                  <th><p>Stock Code</p></th>
                  <th><p align="right">Total Quantity</p></th>
                  <th><p align="right">Cost Basis</p></th>
                  <th><p align="right">Total Value In Stocks</p></th>
                  <th><p align="right">Capital Gains</p></th>
                </tr>
              </thead>
              <tbody>
              <% @owned_stock.each do |stock| %>
                <tr>
                  <td><%= link_to stock.user_game.game.name, game_path(stock.user_game.game) %></td>
                  <td><%= link_to stock.stock_code, src="/search?query=#{stock.stock_code}" %></td>
                  <td><p align="right"><%= stock.total_qty %></p></td>
                  <td><p align="right"><%= number_to_currency(stock.money_spent.to_f/100)%></p></td>
                  <td><p align="right"><%= number_to_currency(stock.value_in_stocks.to_f/100)%></p></td>
                  <td><p align="right"><%= number_to_currency(stock.money_earned.to_f/100)%></p></td>
                </tr>
              <% end %>
            </tbody>
          </table>
    <% else %>
      <h3>You do not own stock.</h3>
    <% end %>
    <%= will_paginate @owned_stock, :param_name => 'owned_stock_page', :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
  </div>
<% end %>