<%- model_class = @purchased_stock.class -%>
<h1><%=t '.title', :default => model_class.model_name.human %></h1>


<dl class="dl-horizontal">
  <dt><strong>Username:</strong></dt>
  <dd><%= @purchased_stock.user_game.user.username %></dd>
  <dt><strong>Game:</strong></dt>
  <dd><%= @purchased_stock.user_game.game.name %></dd>
  <dt><strong>Stock Code:</strong></dt>
  <dd><%= @purchased_stock.stock_code %></dd>
  <dt><strong>Cost Basis:</strong></dt>
  <dd>$<%= @purchased_stock.money_spent.to_f/100 %></dd>
  <dt><strong>Money Earned:</strong></dt>
  <dd>$<%= @purchased_stock.money_earned.to_f/100 %></dd>
  <dt><strong>Current Value:</strong></dt>
  <dd>$<%= (@purchased_stock.value_in_stocks/@purchased_stock.total_qty).to_f/100 %></dd>
  <dt><strong>Total Quantity:</strong></dt>
  <dd><%= @purchased_stock.total_qty %></dd>
  <dt><strong>Total Value:</strong></dt>
  <dd>$<%= @purchased_stock.value_in_stocks.to_f/100 %></dd>
</dl>

<div class="form-actions">
  <%= link_to "Back", game_path(@purchased_stock.user_game.game), :class => 'btn'  %>
</div>
