<%= form_for(@transaction) do |f| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% @transaction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :purchased_stock_in %><br />
    <%= f.number_field :purchased_stock_in %>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.datetime_select :date %>
  </div>
  <div class="field">
    <%= f.label :qty %><br />
    <%= f.number_field :qty %>
  </div>
  <div class="field">
    <%= f.label :value_per_stock %><br />
    <%= f.number_field :value_per_stock %>
  </div>
  <div class="field">
    <%= f.label :is_buy %><br />
    <%= f.check_box :is_buy %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
