<%- model_class = Transaction.new.class -%>
<h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Username</th>
      <th>Game</th>
      <th>Stock Code</th>
      <th>Buy/Sell</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= link_to transaction.purchased_stock.user_game.user.username, user_path(transaction.purchased_stock.user_game.user) %></td>
        <td><%= link_to transaction.purchased_stock.user_game.game.name, game_path(transaction.purchased_stock.user_game.game) %></td>
        <td><%= transaction.purchased_stock.stock_code %></td>
        <td><% if transaction.is_buy %> Buy <% else %> Sell <% end %></td>
        <td><%= link_to "View", transaction_path(transaction), :class => 'btn btn-mini' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_transaction_path,
            :class => 'btn btn-primary' %>
