<!DOCTYPE html>
<html>
<head>
  <title>BattleStocks</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "jquery-1.9.1.min", "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- Nav Bar Header -->
<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
	    <div class="container">
	    	<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	    		<span class="icon-bar"></span>
	    		<span class="icon-bar"></span>
	    		<span class="icon-bar"></span>
	    	</a>
	    	<a class="brand" href="/">BattleStocks</a>
	    	<div class="nav-collapse">
	    		<% 
=begin %>
	    		<ul class="nav">
	    			<li><%= link_to "About Us", about_path %></li>
					<li><%= link_to "Contact Us", contact_path %></li>
	    			<li><%= link_to "Privacy Policy", privacy_path %></li>
	    		</ul>
<% 
=end %>
	    		<ul class="nav pull-right">
    				<% if current_user %>
    					<li><%= link_to "Logout", log_out_path %></li>
  					<% else %>
              <li><%= link_to "Sign up", sign_up_path %></li>
    					<li><%= link_to "Login", log_in_path %></li>
  					<% end %>
				</ul>
			</div>
		</div>
  	</div>
</div>

<!-- Home Page Content -->
<div class="container">
  <div class="row">
    <div class="span9">
    	<%= yield %>
    </div>
    <!-- Right Sidebar -->
    <div class="span3">
      <h2>About Us</h2>
      Our Company
        To say Starbucks purchases and roasts high-quality whole bean coffees is very true. That’s the essence of what we do – but it hardly tells the whole story ..<br>
        Our coffeehouses have become a beacon for coffee lovers everywhere. Why do they insist on Starbucks? Because they know they can count on genuine service, an inviting atmosphere and a superb cup of expertly roasted and richly brewed coffee every time.<br>

    </div>
  </div>
</div>

<!-- Footer -->
<div class="navbar navbar-fixed-bottom">
  <div class="navbar-inner">
    <div class="container">
        <div class="nav-collapse">
          <ul class="nav">
            <li><a href="#" id="about">About</a></li>
            <li><%= link_to "About", about_path %></li>
            <li><%= link_to "Team", team_path %></li>
            <li><%= link_to "Help", help_path %></li>
            <li><%= link_to "Contact", contact_path %></li>
            <li><%= link_to "Feedback", feedback_path %></li>
          </ul>
      </div>
    </div>
  </div>
</div>

</body>
</html>
