<!DOCTYPE html>
<html>
<head>
  <title>BattleStocks</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- Nav Bar Header -->
<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
	  <div class="container">
      <div class = "row">
        <%= image_tag "stocks_logo.png", :size => "60x60", :id => "logo" %>
      	<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
      		<span class="icon-bar"></span>
      		<span class="icon-bar"></span>
      		<span class="icon-bar"></span>
      	</a>	
        <a class="brand" id = "brand_margin" href="/">BattleStocks</a>
  	    <%= render :partial => 'partials/header'%>
      </div>
		</div>
  </div>
</div>

<!-- Home Page Content -->
<div class="container">
  <div class="row">
  	<% flash.each do |name, msg| %>
			<div class="alert alert-<%= name == :notice ? "success" : "error" %>">
				<a class="close" data-dismiss="alert">x</a>
				<%= msg %>
			</div>
    <% end %>
    <%= yield %>
  </div>
</div>

<!-- Footer -->
<%= render :partial => 'partials/footer'%>

</body>
</html>
